
:root {
    --primary-color: #66a557;
    --secondary-color: #414073;
    --accent1-color: #F5FFC6; 
    --accent2-color: #8499B1;

    --heading-font: 'Noto Serif', serif;
    --paragraph-font: 'Bree Serif', serif;

    --hero-background-color: #F5FFC6;
    --hero-link-color: #414073;
    --hero-hover-link-color: #414073;
    --hero-hover-background-color: #8499B1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: left;
}

.social_links a {
    text-decoration: none;
    color: #f0f0f0;
}

.flex, nav a {
    display: flex;
    text-align: left;   
    text-decoration: none; 
    justify-content: space-evenly;

}

.grid {
    display: flex;
    align-items: end;
}

.nav-item {
    margin-left: 140px; 
    display: inline-block; 
}

.nav-item a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #000; 
    border-radius: 5px; 
}

.nav-item a:hover {
    background-color: #f0f0f0; 
}


body {
    font-family: var(--paragraph-font);
    max-width: 1200px; 
    padding: 25px;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.hero img  {
    display: block;
    width: 100%;
    height: auto;    
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-20%, -20%);
    background-color: var(--hero-hover-background-color);
    color: var(--accent1-color);
    text-align: center;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
    opacity: 0.9;
}

.hero article {
    position: absolute;
    top: 40%;
    left: 28%;
    transform: translate(-20%, -20%);
    background-color: var(--hero-hover-background-color);
    padding: 5px;
    color: var(--accent1-color);
    opacity: 0.9;
}

.hero article p {
    margin-top: 1px;
    margin-bottom: 40px;
    overflow: hidden;
    width: 50%;
    text-align: left;
}

.hero article img {
    float: right;
    margin-left: 10%;
    width: 30%;
    height: auto;
}

header {
    display: grid;
    background-color: var(--accent2-color);
    color: white;
    padding: 10px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1800px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header, .grid {
    display: grid;
    grid-template-columns: minmax(auto, 120px ) 1fr;
    align-items: center;  
    justify-content: center;
}

.grid img {
    max-width: 110%; 
}

.nav {
    display: flex;
    justify-content: space-evenly;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

header img {
    padding-left: 100px;
}


section {
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9; 
}
section h2 {
    color: var(--secondary-color);
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

section p {
    color: #333; 
    font-size: 16px;
    line-height: 1.5;
}

.adventures {
    padding: 20px;
    margin-top: 20px;
}

.adventures h2 {
    color: var(--secondary-color);
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.image-container {
    display: flex; 
    overflow-x: auto; 
}
figure {
    margin: 0; 
    padding: 0 10px; 
}

img {
    max-width: 100%; 
    height: 80%;
}

figcaption {
    text-align: center;
    margin-top: 5px;
    font-style: var(--paragraph-font);
}

footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.social_links {
    display: flex;
}

.social_links a {
    margin-left: 10px; 
}

.history {
    text-align: justify; 
}

.content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap; 
    flex-direction: row;
}

.text {
    flex: 1; 
    padding:  0 20px; 
    max-width: 50%;
    text-align: justify;
}

.image {
    max-width: 50%;
    
}

.employee-profile {
    display: inline-block;
    text-align: center; 
    margin: 20px; 
}

.employee-profile img {
    border-radius: 10%;
    width: 305px;
    height: 200px;
    display: block; 
    margin: 0 auto; 
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 10%;
}
label {
    display: block;
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    
    background-image: linear-gradient(to right, #3d155e, #9c7ebe);
    box-shadow: 0px 5px 0px 0px #bbb0eb;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
}

.contact-info {
    flex: 1;
    
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px; 
}


.company-info p {
    text-align: center;
    padding: 1%;
}

