@import url(https://fonts.google.com/noto/specimen/Noto+Serif?query=noto);
@import url(https://fonts.google.com/specimen/Bree+https://fonts.google.com/specimen/Bree+Serif?query=bree&noto.query=bree+serif?query=serif);
body{
    font-family: 'Bree Serif', serif;
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #4C3957;
    --secondary-color: #414073;
    --accent1-color: #F5FFC6; 
    --accent2-color: #8499B1;

    --heading-font: 'noto serif', serif;
    --paragraph-font: 'bree serif', serif;

    --nav-background-color: #F5FFC6;
    --nav-link-color: #414073;
    --nav-hover-link-color: #414073;
    --nav-hover-background-color: #8499B1;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px; 
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}





  
